@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PC Components</h1>
    <p class="lead">Welcome to the PC Components library! Browse components, add comments and create your own lists!</p>
    <p><a href="@Url.Action("Index", "Components")" class="btn btn-primary btn-lg">Browse &raquo;</a></p>
</div>
